/*common css*/
body{
	margin:0;
	font-family: 'Playfair Display', serif;
	font-size:16px ;
	font-weight: 400;
	color:#626262 ;
}
/*common css end*/
/*header start*/
header{
	padding:25px 0;
	/*border: 1px solid black;*/
}
.container{
	margin: 0 auto;
	width:90%;
	/*border: 1px solid green;*/
	overflow: hidden;
}
.logo{
	margin-top: 10px;
	width:10%;
	float:left;
	/*border: 1px solid black;*/
}
.logo img{
	width: 100%;
}
.menu{
	width: 75%;
	float: right;
    /*border: 1px solid red;*/
}
.menu ul{
	float: right;
}
.menu ul li{
  float:left ;
  list-style: none;
}
.menu ul li a{
	display: inline-block;
    margin: 0 60px;
    color: #626262;
	text-decoration: none;
	text-transform:uppercase;
    border-bottom: 1px solid  transparent ;
    transition: .33s;
}
.menu ul li :hover{
	border-bottom: 1px solid  #626262 ;
}
.menu ul li:last-child a{
	margin-right: 0px;

}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/

/*weekend start*/
.weekend{
	padding: 80px 0;
}
.container2{
	margin: 0 auto;
	width: 80%;
	/*border:1px solid black;*/
	overflow: hidden;
}
.w_content{

}
.c_tag{
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.c_title{
	margin: 15px 0 25px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	line-height:24px ;
}
.mb_45{
	margin-bottom: 45px;
}
/*weekend end*/

/*blog start*/
.blog{
	padding:0 0 80px;
}
.s_blog{
	margin-top: 80px;
	width:47%;
	/*border: 1px solid pink;*/
	box-sizing: border-box;
	float:left;
}
.s_blog:nth-child(even){
    margin-left:6% ;
}
.s_img{
	margin-bottom:20px: ;
}
.s_img img{
	width: 100%;
}
/*blog start*/

/*news start*/
.news{
	background-color:#f0f0f0 ;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	font-size: 30px;
	font-weight: 400;
	margin-bottom:70px;
	margin-top:0 ;
	color:#333333;
}
.s_form{
	width: 400px;
	/*border: 2px solid red;*/
	margin: 0 auto;
	position: relative;
}
.s_form input{
	width: 341px;
	height: 45px;
	background: transparent;
	border:none;
	border-bottom:1px solid #000000;
    font-family: 'Playfair Display', serif;
	font-size:14px ;
	font-weight: 400;
	color:#626262 ;
	padding-left:5px ;
	padding-right: 42px;

}
.s_form input:focus{
    outline: 0;
}
.s_form button{
	background: transparent;
	border:none;
	cursor: pointer;
	position: absolute;
	top:15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}

/*news end*/
/*load more start*/
.load{}
.container3{
	padding-top:80px;
	padding-bottom: 160px;
	text-align: center;
}
.container3 button{
	font-family:'Playfair Display', serif ;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
	background:none ;
	border:none;
	border:1px solid #626262;
	width:160px;
	height: 52px;
	transition: .33s;
}
.container3 button:focus{
	outline: 0;
}
.container3 button :hover{
	background-color:#626262 ;
	color:white;
}
/*load more end*/
/*footer start*/

.ft{
     background-color:#f0f0f0;
}
.foot{
	padding: 43px 0;
}
.pr{
	margin:0 0;
	font-weight: 600;
	width: 30%;
	float: left;
	/*border: 1px solid black;*/
}
.pr a{
	color:#000000;
	text-decoration: none;
}
.t{
    margin-left: 19px;
}

.pr2{
	width: 40%;
	float: right;
}
.link{

}
.link ul{
	margin:0px 0px;
      float:right;
}
.link ul li{
	float: left;
     list-style: none;
}
.link ul li a {
	display: inline-block;
    text-decoration: none;
	padding-right:19px;
}
.link ul li a img{
	width:100%;
}
.link ul li:last-child a{
	padding-right: 0px;
}
/*footer end*/
